.cards-container {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem;
    margin-top: 7rem;
}

.card-1, .card-2, .card-3 {
    margin: auto;
    background-color: rgb(222, 40, 70);
    padding: 2rem 2rem;
}

.admin-options {
    margin-top: 3rem;
}